.info-card img{
   width: 140px;
    height: 40px;
    display: inline-block;
}
.info_container{
  padding: 30px;
  margin-top: 40px;
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.1),
        inset -4px -4px 6px -1px rgba(0,0,0,0.1),
        -0.5px -0.5px 0px rgba(0,0,0,0.02), 
        0.5px 0.5px 0px rgba(0,0,0,0.5),
        0px 12px 10px -10px rgba(0,0,0,0.02);
}


@media (max-width: 600px) {
  
  .info_container{
      margin: 20px 0;
  }
   
    
}